algorithmicx
algorithms
amsfonts
amsmath
appendix
arabi
babel
babel-english
biblatex
caption
ccicons
cleveref
csquotes
doclicense
endnotes
etoolbox
filehook
float
fontspec
geometry
graphics
graphics-cfg
graphics-def
hyperref
hyperxmp
ifmtarg
ifxetex
l3packages
l3kernel
listings
lm
lm-math
logreq
makecmds
metalogo
miktex-latex
miktex-xetex
mptopdf
ms
multirow
oberdiek
pgf
polyglossia
realscripts
smartref
titlesec
tipa
tocbibind
tocloft
todonotes
tools
unicode-math
url
xcolor
xetex
xifthen
xkeyval
xltxtra
xstring
xunicode
zapfding
